<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Lark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
            perspective: 600px;
        }
    </style>
    <script src="lark/system/Defines.js"></script>
    <script src="lark/locales/zh_CN.js"></script>
    <script src="lark/utils/getDefinitionByName.js"></script>
    <script src="lark/utils/HashObject.js"></script>
    <script src="lark/utils/getTimer.js"></script>
    <script src="lark/utils/tr.js"></script>
    <script src="lark/geom/Matrix.js"></script>
    <script src="lark/geom/Point.js"></script>
    <script src="lark/geom/Rectangle.js"></script>
    <script src="lark/player/DirtyRegion.js"></script>
    <script src="lark/events/EventPhase.js"></script>
    <script src="lark/events/Event.js"></script>
    <script src="lark/events/EventEmitter.js"></script>
    <script src="lark/utils/Timer.js"></script>
    <script src="lark/events/TimerEvent.js"></script>
    <script src="lark/events/TouchEvent.js"></script>
    <script src="lark/system/Capabilities.js"></script>
    <script src="lark/display/Texture.js"></script>
    <script src="lark/display/DisplayObjectFlags.js"></script>
    <script src="lark/display/DisplayObject.js"></script>
    <script src="lark/display/DisplayObjectContainer.js"></script>
    <script src="lark/display/Bitmap.js"></script>
    <script src="lark/display/Stage.js"></script>
    <script src="lark/player/nodes/RenderNode.js"></script>
    <script src="lark/player/nodes/BitmapNode.js"></script>
    <script src="lark/player/nodes/TextNode.js"></script>
    <script src="lark/player/nodes/GraphicsNode.js"></script>
    <script src="lark/player/ScaleMode.js"></script>
    <script src="lark/player/ScreenAdapter.js"></script>
    <script src="lark/player/Ticker.js"></script>
    <script src="lark/player/Player.js"></script>
    <script src="lark/player/TouchHandler.js"></script>
    <script src="lark/net/HttpClient.js"></script>
    <script src="lark/web/WebCapability.js"></script>
    <script src="lark/web/WebHttpClient.js"></script>
    <script src="lark/net/Http.js"></script>
    <script src="lark/text/TextMeasurer.js"></script>
    <script src="lark/web/WebScreen.js"></script>
    <script src="lark/web/CanvasRenderer.js"></script>
    <script src="lark/web/WebTouchHandler.js"></script>
    <script src="lark/web/CanvasTextMeasurer.js"></script>
    <script src="lark/web/WebTextureDrawer.js"></script>
    <script src="lark/web/LarkWeb.js"></script>
    <script src="lark/text/TextStyle.js"></script>
    <script src="lark/text/TextSpan.js"></script>
    <script src="lark/text/TextField.js"></script>
    <script src="extension/text/engine/ContentElement.js"></script>
    <script src="extension/text/engine/GraphicElement.js"></script>
    <script src="extension/text/engine/TextElement.js"></script>
    <script src="extension/text/engine/GroupElement.js"></script>
    <script src="extension/text/engine/TextBlock.js"></script>
    <script src="extension/text/engine/TextLine.js"></script>
    <script src="extension/text/RichTextField.js"></script>
    <script src="extension/media/LarkMedia.js"></script>
    <script src="extension/media/LarkAudio.js"></script>
    <script src="extension/media/LarkVideo.js"></script>
    <script src="extension/media/web/WebAudio.js"></script>
    <script src="extension/media/web/HtmlAudio.js"></script>
    <script src="extension/media/web/HtmlVideo.js"></script>
    <script src="extension/sensers/Accelerometer.js"></script>
    <script src="extension/sensers/web/WebAccelerometer.js"></script>
    <script src="FPS.js"></script>
    <script src="CanvasTest.js?a=2"></script>
    <script src="Main.js"></script>
    <script src="Text.js"></script>
    <script src="Media.js"></script>
    <script src="demo/Weixin/face.js"></script>
    <script src="demo/Weixin/MotionDemo.js"></script>
    <script src="demo/Weixin/zepto.min.js"></script>
    <script src="demo/Weixin/jquery.facedetection.min.js"></script>
</head>
<body>
    <div id="lark-sample" style="margin: auto;width: 375px;height:667px;top:100px" class="lark-player"
         data-entry-class="demo.MotionDemo" data-scale-mode="noScale" data-content-width="480" data-content-height="800">
    </div>

    <script>
        navigator.userAgent.match(/iPhone/i) && (document.getElementById("lark-sample").style.top = "0");
    </script>
</body>
</html>
