<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Lark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <script src="Defines.js"></script>
    <script src="lark/utils/LarkObject.js"></script>
    <script src="lark/utils/registerType.js"></script>
    <script src="lark/i18n/zh_CN.js"></script>
    <script src="lark/system/Capabilities.js"></script>
    <script src="lark/web/WebCapability.js"></script>
    <script src="lark/utils/getDefinitionByName.js"></script>
    <script src="lark/utils/getTimer.js"></script>
    <script src="lark/utils/tr.js"></script>
    <script src="lark/utils/NONE.js"></script>
    <script src="lark/geom/Matrix.js"></script>
    <script src="lark/geom/Point.js"></script>
    <script src="lark/geom/Rectangle.js"></script>
    <script src="lark/net/HttpResponseType.js"></script>
    <script src="lark/net/HttpMethod.js"></script>
    <script src="lark/events/EventPhase.js"></script>
    <script src="lark/events/Event.js"></script>
    <script src="lark/events/EventEmitter.js"></script>
    <script src="lark/utils/Timer.js"></script>
    <script src="lark/events/ProgressEvent.js"></script>
    <script src="lark/events/TimerEvent.js"></script>
    <script src="lark/events/TouchEvent.js"></script>
    <script src="lark/display/BlendMode.js"></script>
    <script src="lark/display/DisplayObject.js"></script>
    <script src="lark/display/Sprite.js"></script>
    <script src="lark/display/Bitmap.js"></script>
    <script src="lark/display/Stage.js"></script>
    <script src="lark/display/Graphics.js"></script>
    <script src="lark/display/Shape.js"></script>
    <script src="lark/player/Region.js"></script>
    <script src="lark/player/DirtyRegion.js"></script>
    <script src="lark/player/ScaleMode.js"></script>
    <script src="lark/player/ScreenAdapter.js"></script>
    <script src="lark/player/DisplayList.js"></script>
    <script src="lark/player/Ticker.js"></script>
    <script src="lark/player/Player.js"></script>
    <script src="lark/player/TouchHandler.js"></script>
    <script src="lark/text/TextMeasurer.js"></script>
    <script src="lark/web/WebHttpRequest.js"></script>
    <script src="lark/web/WebImageLoader.js"></script>
    <script src="lark/web/WebScreen.js"></script>
    <script src="lark/web/WebTouchHandler.js"></script>
    <script src="lark/web/CanvasFactory.js"></script>
    <script src="lark/web/LarkWeb.js"></script>
    <script src="lark/text/TextField.js"></script>
    <script src="lark/text/HorizontalAlign.js"></script>
    <script src="lark/text/VerticalAlign.js"></script>

    <script src="extension/gui/i18n/zh_CN.js"></script>
    <script src="extension/gui/utils/MatrixUtil.js"></script>
    <script src="extension/gui/utils/EXML.js"></script>
    <script src="extension/gui/core/UIComponent.js"></script>
    <script src="extension/gui/core/validator.js"></script>
    <script src="extension/gui/core/Theme.js"></script>
    <script src="extension/gui/components/Label.js"></script>
    <script src="extension/gui/components/Group.js"></script>
    <script src="extension/gui/components/Skin.js"></script>
    <script src="extension/gui/components/SkinnableComponent.js"></script>
    <script src="extension/gui/events/UIEvent.js"></script>
    <script src="extension/gui/layouts/supportClasses/LayoutBase.js"></script>
    <script src="extension/gui/layouts/BasicLayout.js"></script>

    <script src="extension/image/Texture.js"></script>
    <script src="extension/text/engine/TextStyle.js"></script>
    <script src="extension/text/engine/TextSpan.js"></script>
    <script src="extension/text/engine/ContentElement.js"></script>
    <script src="extension/text/engine/GraphicElement.js"></script>
    <script src="extension/text/engine/TextElement.js"></script>
    <script src="extension/text/engine/GroupElement.js"></script>
    <script src="extension/text/engine/TextBlock.js"></script>
    <script src="extension/text/engine/TextLine.js"></script>
    <script src="extension/text/RichTextField.js"></script>
    <script src="extension/media/Media.js"></script>
    <script src="extension/media/Audio.js"></script>
    <script src="extension/media/Video.js"></script>
    <script src="extension/media/web/WebMedia.js"></script>
    <script src="extension/media/web/WebAudio.js"></script>
    <script src="extension/media/web/Audio.js"></script>
    <script src="extension/media/web/Video.js"></script>
    <script src="extension/sensers/OrientationListener.js"></script>
    <script src="extension/sensers/web/Html5OrientationListener.js"></script>
    <script src="tests/CanvasTest.js"></script>
    <script src="tests/Main.js"></script>
    <script src="tests/Text.js"></script>
    <script src="tests/Media.js"></script>
    <script src="tests/GUI.js"></script>
</head>
<body>
<div id="lark-sample" style="margin: auto;width: 100%;height: 100%;" class="lark-player"
     data-entry-class="lark.Main" data-scale-mode="noScale" data-content-width="480" data-content-height="800"
     data-show-paint-rect="true" data-show-fps="true">
</div>
<script>
    var entryClass = location.search && location.search.match("main=(.+)") ? location.search.match("main=(.+)")[1] : "lark.Main";
    var container = document.getElementById("lark-sample");
    container.setAttribute("data-entry-class", entryClass);
</script>
</body>
</html>
