<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Lark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        body { background: #888888; padding: 0; border: 0; margin: 0; }
        html { -ms-touch-action: none;}
    </style>
    <script src="lark/utils/getDefinitionByName.js"></script>
    <script src="lark/utils/HashObject.js"></script>
    <script src="lark/utils/getTimer.js"></script>
    <script src="lark/geom/Matrix.js"></script>
    <script src="lark/geom/Point.js"></script>
    <script src="lark/geom/Rectangle.js"></script>
    <script src="lark/player/DirtyRegion.js"></script>
    <script src="lark/events/EventPhase.js"></script>
    <script src="lark/events/Event.js"></script>
    <script src="lark/events/EventEmitter.js"></script>
    <script src="lark/utils/Timer.js"></script>
    <script src="lark/events/TimerEvent.js"></script>
    <script src="lark/events/TouchEvent.js"></script>
    <script src="lark/display/Texture.js"></script>
    <script src="lark/display/DisplayObjectFlags.js"></script>
    <script src="lark/display/DisplayObject.js"></script>
    <script src="lark/display/DisplayObjectContainer.js"></script>
    <script src="lark/display/Bitmap.js"></script>
    <script src="lark/display/StageScaleMode.js"></script>
    <script src="lark/display/Stage.js"></script>
    <script src="lark/player/nodes/RenderNode.js"></script>
    <script src="lark/player/nodes/BitmapNode.js"></script>
    <script src="lark/player/nodes/TextNode.js"></script>
    <script src="lark/player/nodes/GraphicsNode.js"></script>
    <script src="lark/player/Ticker.js"></script>
    <script src="lark/player/Player.js"></script>
    <script src="lark/player/TouchHandler.js"></script>
    <script src="lark/net/HttpClient.js"></script>
    <script src="lark/web/WebHttpClient.js"></script>
    <script src="lark/utils/HttpUtils.js"></script>
    <script src="lark/text/TextMetrics.js"></script>
    <script src="lark/web/CanvasRenderer.js"></script>
    <script src="lark/web/WebTouchHandler.js"></script>
    <script src="lark/web/LarkWeb.js"></script>
    <script src="lark/text/TextStyle.js"></script>
    <script src="lark/text/TextSpan.js"></script>
    <script src="lark/text/TextField.js"></script>
    <script src="extension/text/engine/ContentElement.js"></script>
    <script src="extension/text/engine/GraphicElement.js"></script>
    <script src="extension/text/engine/TextElement.js"></script>
    <script src="extension/text/engine/GroupElement.js"></script>
    <script src="extension/text/engine/TextBlock.js"></script>
    <script src="extension/text/engine/TextLine.js"></script>
    <script src="extension/text/RichTextField.js"></script>
    <script src="extension/media/LarkMedia.js"></script>
    <script src="extension/media/LarkAudio.js"></script>
    <script src="extension/media/LarkVideo.js"></script>
    <script src="extension/media/web/WebAudio.js"></script>
    <script src="extension/media/web/HtmlAudio.js"></script>
    <script src="extension/media/web/HtmlVideo.js"></script>
    <script src="FPS.js"></script>
    <script src="Main.js"></script>
    <script src="Text.js"></script>
    <script src="Media.js"></script>
</head>
<body>
    <div id="lark-container" style="margin: auto;">
    </div>
    <script>
        var entryClass = location.search && location.search.match("main=(.+)") ? location.search.match("main=(.+)")[1] : "lark.Main";
        var container = document.getElementById("lark-container");
        var player = lark.web.createPlayer(container, entryClass,window.innerWidth,window.innerHeight,lark.StageScaleMode.NO_SCALE);
        window.addEventListener("resize",function(){
            player.updateScreenSize(window.innerWidth,window.innerHeight);
        });
        player.start();
    </script>
</body>
</html>
