<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Lark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    </style>

    <!--这个标签会被替换为项目中所有的 javascript 文件-->
    <script id="project"></script>
</head>
<body>
    <div id="lark-sample" style="margin: auto;width: 100%;height: 100%;" class="lark-player"
         data-entry-class="lark.Main" data-scale-mode="noScale" data-content-width="480" data-content-height="800"
         data-show-paint-rect="false" data-show-fps="true" data-show-log="true" data-log-filter="">
    </div>
<script>
    var entryClass = location.search && location.search.match("main=(.+)") ? location.search.match("main=(.+)")[1] : "lark.Main";
    var container = document.getElementById("lark-sample");
    container.setAttribute("data-entry-class", entryClass);
</script>
</body>
</html>
