<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Lark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <style>
        body {
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
            font-family:'Microsoft YaHei';
            font-size:24px;
        }

        html {
            -ms-touch-action: none;
            overflow: hidden;
        }

        canvas {
            display: block;
            margin: 0 auto;
        }
    </style>
    <script>

        var img = new Image();
        img.src = "image/icon.png";
        
    </script>
</head>
<body>
    <p>
        Hello World <img style="float:left; display:block" src="image/icon.png" alt="" />Hello World 
    </p>
    <canvas id="lark_canvas" width="1920" height="960" />
    <script src="entry/lark_file_list.js"></script>
    <script>
        var lark_entry_class_name = "lark.Text";
    </script>
    <script src="entry/lark_web.js"></script>
</body>
</html>
