bin-debug
bin-release
/vs-files
*.njsproj
*.csproj
*.csproj.user
/.ntvs_analysis.dat
/bin
/obj/Debug
*.js.map
*.dll
/tools/obj/Debug
/tools/.ntvs_analysis.dat
.settings
*.sln
*.suo
/tools/lib/typescript/src/*.js
.idea
tmp
*.iml
/template
/src/tests
examples/*/src/libs
web.config
tsconfig.json
default.thm
