bin-debug
bin-release
/vs-files
*.njsproj
/.ntvs_analysis.dat
/bin
/obj/Debug
*.js.map
*.dll
/tools/obj/Debug
/tools/.ntvs_analysis.dat
*.sln
*.suo
/tools/lib/typescript/src/*.js
.idea
tmp
*.iml
/build
proj.json