
<section>

    <div ng-hide="model.isConfig">
        <h3>选择一个项目模板</h3>
        <div class="template" ng-repeat="template in model.larkManifest.templates"
             title="{{template.description}}"
             ng-class="template.name==model.template?'active':''"
             ng-click="model.template = template.name">
            {{template.name}}
        </div>
    </div>
    <h3>请输入默认的屏幕尺寸</h3>
    <div>
        <input type="number" name="contentWidth" ng-model="model.contentWidth" required />
        <span class="error" ng-show="createForm.contentWidth.$error.required">
            请输入屏幕宽度
        </span>
        <span class="error" ng-show="createForm.contentWidth.$error.number">
            请输入数字
        </span>
        x <input type="number" name="contentHeight" ng-model="model.contentHeight" required />
        <span class="error" ng-show="createForm.contentHeight.$error.required">
            请输入屏幕高度
        </span>
        <span class="error" ng-show="createForm.contentHeight.$error.number">
            请输入数字
        </span>
    </div>
    <h3>选择屏幕缩放模式</h3>
    <div class="scaleModes">
        <img class="scaleModeSample" src="/$/content/images/config/sample.png" />
        <!--<input type="radio" ng-value="mode.name" ng-model="model.scaleMode" /> {{mode.description}}-->
        <div class="scaleMode" ng-repeat="mode in model.scaleModes"
             ng-click="model.scaleMode = mode.name"
             ng-class="mode.name==model.scaleMode?'active':''">
            <img ng-src="/$/content/images/config/{{mode.name}}.png" title="{{mode.description}}" />
            <span>{{mode.name}}</span>
        </div>
    </div>
</section>
<section>
    <h3>选择扩展模块</h3>
    <div ng-repeat="ext in model.larkManifest.modules">
        <label>
            <input type="checkbox" name="modules" ng-checked="ext.checked" ng-model="ext.checked" /> {{ext.description}}
        </label>
    </div>
    <h3>请选择希望发布的平台</h3>
    <div>
        <label ng-repeat="platform in model.larkManifest.platforms" ng-hide="platform.hidden">
            <input type="checkbox" name="platform" ng-model="platform.checked" ng-checked="platform.checked" /> {{platform.description}}
        </label>
    </div>

    <input type="button" class="finish" id="finish" value="Finish" ng-click="model.finish()" />
</section>
<!--<section>
    <h3> Development </h3>

    <h4>Debug server</h4>
    <div>
        IP address: <input type="text" ng-model="model.ip" />
    </div>
    <div>
        Host name: <input type="text" ng-model="model.host" />
    </div>
    <div>
        Port: <input type="text" ng-model="model.port" />
    </div>
</section>-->
<script>

</script>