
<style>
    #preview {
        border:none;
        float:left;
    }

    #preview-container {
        padding:20px;
    
    }
    #preview-tools{
        float:right;
    }
</style>

<div id="preview-container" ng-controller="PreviewController as preview">
    <iframe id="preview" name="preview" height="{{preview.height}}" width="{{preview.width}}" src="/bin-debug/index.html?main=lark.TestInput"></iframe>

    <div id="preview-tools">
        <select ng-model="preview.selectIPAddress">
            <option ng-repeat="ip in preview.IPs" ng-value="ip">{{ip}}</option>
        </select>
        <select id="model" ng-model="preview.selectedModel">
            <option value="-1">--选择手机类型--</option>
            <option ng-repeat="phone in preview.models" ng-value="$index">{{phone.title}}</option>
        </select>

        <div>

            <input type="text" name="width" ng-model="preview.width" />
            <input type="text" name="height" ng-model="preview.height" />
            <input type="checkbox" name="resolution" ng-model="preview.useDeviceResolution" ng-checked="preview.useDeviceResolution" />
            <label><input type="radio" name="org" value="0" /> 横屏 </label>
            <label><input type="radio" name="org" value="1" /> 竖屏 </label>
        </div>
    </div>
</div>