

<style>
    #console{
        overflow-y: auto;
        height: 200px;
        font-size: 12px;
        line-height: 14px;
        background-color: #222;
        color: #DDD;
        padding: 8px;
        border-radius: 5px;
    }
</style>

<h2>
    @{repository.options.projectDir}
</h2>
<div>
    <a href="/bin-debug/index.html" target="_blank">打开游戏</a>
</div>

<h4>编译输出:</h4>
<pre id="console"></pre>

<div>

    <button id="btnShutdown"> 关闭服务器 </button>

</div>
<script>
    var lark = lark || {
        server:{}
    };
    lark.server.options = @{! JSON.stringify(repository.options) }
</script>
<script src="/$/content/scripts/index.js"></script>