<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="sk" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <meta name="robots" content="all,follow" />
    <link href="/$/content/style/larkserver.css" rel="stylesheet" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/$/content/scripts/utils.js"></script>
</head>
<body>
    <div id="main-container">@{body}</div>
</body>
</html>