<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello Lark</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1,
    user-scalable=no,target-densitydpi=device-dpi"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body {
            -ms-touch-action: none;
            background: #888888;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>

    <!--这个标签会被替换为项目中所使用的 lark javascript 文件-->
    <script id="lark"></script>

    <!--所有第三方库请手动添加引用-->
    <!--<script src="//myhost/myjslib.js"></script>-->

    <!--这个标签会被替换为项目中所有的 javascript 文件-->
    <script id="project"></script>
</head>
<body>

    <div id="lark-sample" style="margin: auto;width: 100%;height: 100%;" class="lark-player"
         data-entry-class="$entry-class$"
         data-scale-mode="$scale-mode$" 
         data-content-width="$content-width$" 
         data-content-height="$content-height$"
         data-show-paint-rects="$show-paint-rects$">
    </div>
</body>
</html>
